header {
   width: 100vw;
   background: #eff1ff;
   min-height: 10vh;
   padding: 20px 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

header .header-container {
   width: 100%;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: center;
}

header .header-container .logo {
   width: fit-content;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 10px;
   cursor: pointer;
}

header .header-container .logo img {
   height: 100%;
   aspect-ratio: 1;
   object-fit: contain;
}

header .header-container .logo p {
   font-size: 1.5rem;
   font-weight: 600;
   color: #004be2;
}

.header-links-mobile {
   position: fixed;
   top: 0;
   left: 0;
   width: 80vw;
   height: 100dvh;
   z-index: 5;
   background-color: white;
   padding: 15px;
   box-shadow: 2px 0 4px rgba(0, 0, 0, 0.088);
}