header {
   width: 100%;
   max-width: 1200px;
}

header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 10vh;
}

header .logo {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 10px;
   padding: 20px 40px;
}

header .logo img {
   height: 100%;
   aspect-ratio: 1;
   object-fit: contain;
}

header .logo p {
   font-size: 1.5rem;
   font-weight: 600;
   color: #004be2;
}

header .action {
   width: 100%;
   height: 100%;
   padding: 40px;
   display: flex;
   align-items: center;
   justify-content: end;
}