.hero {
   width: 100%;
   min-height: 40vh;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   user-select: none;
   background-color: #eff1ff;
}

.hero-section-headline { font-size: 3rem; }
.hero-sub-headline { font-size: 1.1rem; }
.ct-actions {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
   .hero-section-headline { font-size: 2rem; }
   .hero-sub-headline { font-size: 1rem; }
   .ct-actions {
      width: 100%;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}