.hero {
   width: 100%;
   min-height: 40vh;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   user-select: none;
   background-color: #eff1ff;
}

.hero-image {
   width: 100%;
   aspect-ratio: 1;
   border-radius: 20px;
   overflow: hidden;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.088);
}

.hero-image > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

@media screen and (max-width: 900px) {
   .hero-section-headline { font-size: 2rem; }
   .hero-sub-headline { font-size: 1rem; }
   .ct-actions {
      width: 100%;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}