.hero {
   width: 100%;
   height: 40vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   user-select: none;
   background-color: #eff1ff;
}

.hero-section-headline { font-size: 3rem; }
.hero-sub-headline { font-size: 1.1rem; }
.ct-actions {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   margin-bottom: 30px;
}
.hero .tag {
   font-size: 1rem;
   font-weight: 600;
}
.hero .tag-msg {
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
   padding: 10px 20px;
}

@media screen and (max-width: 900px) {
   .hero {
      width: 100%;
      height: 60vh;
   }
   .hero-section-headline { font-size: 2rem; }
   .hero-sub-headline { font-size: 1rem; }
   .ct-actions {
      width: 100%;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .hero .tag {
      font-size: 0.8rem;
   }
}

.hero .tag {
   display: inline-block;
   border-radius: 40px;
   overflow: hidden;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.233);
}
