.modal {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 20px;
   background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-box {
   width: 100%;
   max-width: 500px;
   height: fit-content;
   max-height: 70vh;
   background-color: white;
   padding: 20px;
   border: 1px solid #efefef;
   border-radius: 15px;
   position: relative;
   line-height: 1.8rem;
   overflow-y: scroll;
   overflow-x: hidden;
   box-shadow: 0 2px 20px rgba(0, 0, 0, 0.098);
}

@media screen and (max-width: 900px) {
   .modal .modal-box {
      padding: 10px;
      max-height: 80vh;
   }
}

.modal .modal-box .modal-close {
   position: absolute;
   top: 10px;
   right: 5px;
   width: fit-content;
   aspect-ratio: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 7px;
   border-radius: 100%;
   background-color: #efefef;
   cursor: pointer;
}

.modal .modal-box .modal-close:hover {
   background-color: #ececec;
}