main {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10vh;
}

.page-container {
   width: 100%;
   max-width: 1200px;
}

section.features {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

section.features .feature-list {
   width: 100%;
   display: flex;
   gap: 10px;
   padding: 10px;
   flex-wrap: wrap;
}

section.features .feature-list .feature {
   width: 100%;
   max-width: calc(400px - 20px);
   background-color: white;
   border: 1px solid #ededed;
   border-radius: 10px;
   padding: 15px 20px;
   display: flex;
   flex-direction: column;
}

section.features .feature-list .feature .main {
   width: 100%;
   padding: 10px 0;
   font-size: 1.3rem;
   font-weight: 600;
}

section.features .feature-list .feature span {
   line-height: 1.65rem;
   color: #383838;
}

section.features .feature-list .feature img {
   width: 80%;
   object-fit: contain;
   object-position: center;
}

section.pricing {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

section.websites {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
