.how-it-works {
   padding: 4rem 1rem;
   text-align: center;
   background-color: #fdfdfd;
   user-select: none;
   display: flex;
   justify-content: center;
}

.steps {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 1rem;
}

.step {
   background: #fff;
   border: 1px solid #e0e0e0;
   border-radius: 12px;
   padding: 10px;
   width: 100%;
   max-width: 380px;
   transition: transform 0.2s;
}

.step-image {
   width: 100%;
   height: 30vh;
   overflow: hidden;
   border: 1px solid #ececec;
   border-radius: 20px;
}

.step-image > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   -webkit-user-drag: none;
}

.step h3 {
   font-size: 1.1rem;
   margin-bottom: 0.5rem;
}

.step p {
   color: #666;
   font-size: 0.95rem;
   line-height: 1.4;
}

@media (max-width: 768px) {
   .steps {
      flex-direction: column;
      align-items: center;
   }

   .step {
      width: 100%;
      max-width: 400px;
   }
}